$font-stack:    Courier, sans-serif;
$primary-color: #333;
$grey: #6B6D76;
$charcoal: #334E58;
$brown: #33261D;
$green: #62AB37;
$orange: #F46036;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color:  #d8e2df; 
  margin: 0 0 0 3em;
    
  a:link {
    color: $green;
  }
  
  a:visited {
    color: $green;
  }
  
  a:hover {
    color: $orange;
  }
}

nav {
  float: left;
  margin: 0 0 1.5em -2em;
  width: 100%;
  
  .current {
    color: $orange !important;
  }

  a {
    font: 200% $font-stack;
    float: left;
    display: inline-block;
    padding: 6px 24px;
    text-decoration: none;
    font-weight: bold;
  }
}
